In [39]:
import numpy as np 
import pandas as pd 
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()
sns.set_style('darkgrid')
import warnings
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn #ignore annoying warning (from sklearn and seaborn)

pd.set_option('display.float_format', lambda x: '{:.3f}'.format(x)) #Limiting floats output to 3 decimal points

In [40]:
names = ["name","landmass","zone","area","population","language","religion",
                         "bars","stripes","colours","red","green","blue","gold","white","black","orange",
                         "mainhue","circles","crosses","saltires","quarters","sunstars","crescent",
                        "triangle","icon","animate","text","topleft","botright"]

In [41]:
flags = pd.read_csv("../flag.data", names = names  ,header=None) #header=None

In [42]:
flags.head()

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red

In [43]:
#data['Continent'].value_counts(dropna=False)

In [44]:
flags = flags.replace("?", -99999)

In [45]:
flags.head()

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red

In [46]:
flags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        194 non-null    object
 1   landmass    194 non-null    int64
 2   zone        194 non-null    int64
 3   area        194 non-null    int64
 4   population  194 non-null    int64
 5   language    194 non-null    int64
 6   religion    194 non-null    int64
 7   bars        194 non-null    int64
 8   stripes     194 non-null    int64
 9   colours     194 non-null    int64
 10  red         194 non-null    int64
 11  green       194 non-null    int64
 12  blue        194 non-null    int64
 13  gold        194 non-null    int64
 14  white       194 non-null    int64
 15  black       194 non-null    int64
 16  orange      194 non-null    int64
 17  mainhue     194 non-null    object
 18  circles     194 non-null    int64
 19  crosses     194 non-null    int64
 20  saltires    194 non-null    int64
 21  quarters    194 non-null    int64
 22  sunstars    194 non-null    int64
 23  crescent    194 non-null    int64
 24  triangle    194 non-null    int64
 25  icon        194 non-null    int64
 26  animate     194 non-null    int64
 27  text        194 non-null    int64
 28  topleft     194 non-null    object
 29  botright    194 non-null    object
dtypes: int64(26), object(4)
memory usage: 45.6+ KB

In [47]:
flags.describe()

,landmass,zone,area,population,language,religion,bars,stripes,colours,red,...,circles,crosses,saltires,quarters,sunstars,crescent,triangle,icon,animate,text
count,194.000,194.000,194.000,194.000,194.000,194.000,194.000,194.000,194.000,194.000,...,194.000,194.000,194.000,194.000,194.000,194.000,194.000,194.000,194.000,194.000
mean,3.572,2.211,700.046,23.268,5.340,2.191,0.454,1.552,3.464,0.789,...,0.170,0.149,0.093,0.149,1.387,0.057,0.139,0.253,0.201,0.082
std,1.553,1.308,2170.928,91.934,3.497,2.061,1.038,2.328,1.300,0.409,...,0.463,0.385,0.291,0.436,4.396,0.232,0.347,0.436,0.402,0.276
min,1.000,1.000,0.000,0.000,1.000,0.000,0.000,0.000,1.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,3.000,1.000,9.000,0.000,2.000,1.000,0.000,0.000,3.000,1.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
50%,4.000,2.000,111.000,4.000,6.000,1.000,0.000,0.000,3.000,1.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
75%,5.000,4.000,471.250,14.000,9.000,4.000,0.000,3.000,4.000,1.000,...,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.750,0.000,0.000
max,6.000,4.000,22402.000,1008.000,10.000,7.000,5.000,14.000,8.000,1.000,...,4.000,2.000,1.000,4.000,50.000,1.000,1.000,1.000,1.000,1.000

In [48]:
# Verificando dados ausentes
flags.isnull().sum()

name          0
landmass      0
zone          0
area          0
population    0
language      0
religion      0
bars          0
stripes       0
colours       0
red           0
green         0
blue          0
gold          0
white         0
black         0
orange        0
mainhue       0
circles       0
crosses       0
saltires      0
quarters      0
sunstars      0
crescent      0
triangle      0
icon          0
animate       0
text          0
topleft       0
botright      0
dtype: int64

In [62]:
categorical_num = ['landmass', 'zone', 'language', 'red', 'green', 'blue', 'gold', 'white', 'black', 'orange', 'crescent',
                   'triangle', 'icon', 'animate', 'text']

In [50]:
for feature in categorical_num:
    flags[feature] = flags[feature].astype(str)

In [63]:
flags

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Western-Samoa,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red
190,Yugoslavia,3,1,256,22,6,6,0,3,4,...,0,0,1,0,0,0,0,0,blue,red
191,Zaire,4,2,905,28,10,5,0,0,4,...,0,0,0,0,0,1,1,0,green,green
192,Zambia,4,2,753,6,10,5,3,0,4,...,0,0,0,0,0,0,1,0,green,brown
193,Zimbabwe,4,2,391,8,10,5,0,7,5,...,0,0,1,0,1,1,1,0,green,green

In [51]:
flags_clean = pd.get_dummies(flags.drop(['name'], axis = 1))
flags_clean.columns

Index(['area', 'population', 'religion', 'bars', 'stripes', 'colours',
       'circles', 'crosses', 'saltires', 'quarters', 'sunstars', 'landmass_1',
       'landmass_2', 'landmass_3', 'landmass_4', 'landmass_5', 'landmass_6',
       'zone_1', 'zone_2', 'zone_3', 'zone_4', 'language_1', 'language_10',
       'language_2', 'language_3', 'language_4', 'language_5', 'language_6',
       'language_7', 'language_8', 'language_9', 'red_0', 'red_1', 'green_0',
       'green_1', 'blue_0', 'blue_1', 'gold_0', 'gold_1', 'white_0', 'white_1',
       'black_0', 'black_1', 'orange_0', 'orange_1', 'mainhue_black',
       'mainhue_blue', 'mainhue_brown', 'mainhue_gold', 'mainhue_green',
       'mainhue_orange', 'mainhue_red', 'mainhue_white', 'crescent_0',
       'crescent_1', 'triangle_0', 'triangle_1', 'icon_0', 'icon_1',
       'animate_0', 'animate_1', 'text_0', 'text_1', 'topleft_black',
       'topleft_blue', 'topleft_gold', 'topleft_green', 'topleft_orange',
       'topleft_red', 'topleft_white', 'botright_black', 'botright_blue',
       'botright_brown', 'botright_gold', 'botright_green', 'botright_orange',
       'botright_red', 'botright_white'],
      dtype='object')

In [52]:
X = flags_clean.drop('religion', axis = 1)
y = flags_clean['religion']
print(X.shape)
print(y.shape)

(194, 77)
(194,)

In [64]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 52, stratify = y)

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

rf = RandomForestClassifier(random_state = 42, class_weight = 'balanced')

rf_scores = cross_val_score(rf, X_train_scaled, y_train, cv = 10)

rf.fit(X_train_scaled, y_train)

print('Cross Val Score:', np.mean(rf_scores))
#print('Train score:',rf.score(X_train_scaled, y_train))
print('Test score:',rf.score(X_test_scaled, y_test))

In [61]:
"""
rf_params_1 = {'n_estimators': [10, 20, 50, 100], 'max_features': [5, 7, 9]}

rf_grid = GridSearchCV(rf, param_grid = rf_params_1, cv = 5, n_jobs = -1)

rf_grid.fit(X_train_scaled, y_train)

rf_params_2 = {'min_samples_split': [5, 7, 9], 'max_depth': [7, 9, 11], 'criterion': ['gini', 'entropy']}

rf_grid_2 = GridSearchCV(rf_grid.best_estimator_, param_grid = rf_params_2, cv = 5, n_jobs = -1)

rf_grid_2.fit(X_train_scaled, y_train)

print('GSCV best score:',rf_grid_2.best_score_)
print('Train score:', rf_grid_2.score(X_train_scaled, y_train))
print('Test score:', rf_grid_2.score(X_test_scaled, y_test))
print()
rf_grid.best_params_.update(rf_grid_2.best_params_)
print('Best params:', rf_grid.best_params_)
"""

"\nrf_params_1 = {'n_estimators': [10, 20, 50, 100], 'max_features': [5, 7, 9]}\n\nrf_grid = GridSearchCV(rf, param_grid = rf_params_1, cv = 5, n_jobs = -1)\n\nrf_grid.fit(X_train_scaled, y_train)\n\nrf_params_2 = {'min_samples_split': [5, 7, 9], 'max_depth': [7, 9, 11], 'criterion': ['gini', 'entropy']}\n\nrf_grid_2 = GridSearchCV(rf_grid.best_estimator_, param_grid = rf_params_2, cv = 5, n_jobs = -1)\n\nrf_grid_2.fit(X_train_scaled, y_train)\n\nprint('GSCV best score:',rf_grid_2.best_score_)\nprint('Train score:', rf_grid_2.score(X_train_scaled, y_train))\nprint('Test score:', rf_grid_2.score(X_test_scaled, y_test))\nprint()\nrf_grid.best_params_.update(rf_grid_2.best_params_)\nprint('Best params:', rf_grid.best_params_)\n"

In [57]:
"""
rf_importances  = rf_grid_2.best_estimator_.feature_importances_
rf_features = X.columns

feat_importances = sorted(list(zip(rf_features, rf_importances)), key=lambda x:x[1], reverse=True)

import seaborn as sns

plt.figure(figsize=(15,8))
sns.barplot([a[0] for a in feat_importances], [b[1] for b in feat_importances])
plt.xticks(rotation=90)
"""

'\nrf_importances  = rf_grid_2.best_estimator_.feature_importances_\nrf_features = X.columns\n\nfeat_importances = sorted(list(zip(rf_features, rf_importances)), key=lambda x:x[1], reverse=True)\n\nimport seaborn as sns\n\nplt.figure(figsize=(15,8))\nsns.barplot([a[0] for a in feat_importances], [b[1] for b in feat_importances])\nplt.xticks(rotation=90)\n'