In [254]:
import numpy as np 
import pandas as pd
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [273]:
names = ["name","landmass","zone","area","population","language","religion",
                         "bars","stripes","colours","red","green","blue","gold","white","black","orange",
                         "mainhue","circles","crosses","saltires","quarters","sunstars","crescent",
                        "triangle","icon","animate","text","topleft","botright"]

In [282]:
flags = pd.read_csv("../flag.data", names = names  , header=None) #header=None
flags['topleft'].unique()
#flags = flags.drop(columns=["name", "topleft", "mainhue"])

array(['black', 'red', 'green', 'blue', 'white', 'orange', 'gold'],
      dtype=object)

In [280]:
c = flags["botright"].unique()

In [281]:
dicte = dict()
i=0
for classes in (c):
    dicte[classes] = i
    i = i + 1

dicte

{'green': 0,
 'red': 1,
 'white': 2,
 'black': 3,
 'blue': 4,
 'gold': 5,
 'orange': 6,
 'brown': 7}

In [277]:
flags["botright"] = flags["botright"].replace(dicte)

In [278]:
"""
valores_unicos = flags['topleft'].unique()
total_valores = len(valores_unicos)
mapeamento = dict(zip(valores_unicos, range(total_valores)))
flags['topleft'] = flags['topleft'].replace(mapeamento)
"""

"\nvalores_unicos = flags['topleft'].unique()\ntotal_valores = len(valores_unicos)\nmapeamento = dict(zip(valores_unicos, range(total_valores)))\nflags['topleft'] = flags['topleft'].replace(mapeamento)\n"

In [261]:
flags.dtypes

landmass      int64
zone          int64
area          int64
population    int64
language      int64
religion      int64
bars          int64
stripes       int64
colours       int64
red           int64
green         int64
blue          int64
gold          int64
white         int64
black         int64
orange        int64
circles       int64
crosses       int64
saltires      int64
quarters      int64
sunstars      int64
crescent      int64
triangle      int64
icon          int64
animate       int64
text          int64
botright      int64
dtype: object

In [262]:
flags.head(10)

,landmass,zone,area,population,language,religion,bars,stripes,colours,red,...,crosses,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,botright
0,5,1,648,16,10,2,0,3,5,1,...,0,0,0,1,0,0,1,0,0,0
1,3,1,29,3,6,6,0,0,3,1,...,0,0,0,1,0,0,0,1,0,1
2,4,1,2388,20,8,2,2,0,3,1,...,0,0,0,1,1,0,0,0,0,2
3,6,3,0,0,1,1,0,0,5,1,...,0,0,0,0,0,1,1,1,0,1
4,3,1,0,0,6,0,3,0,3,1,...,0,0,0,0,0,0,0,0,0,1
5,4,2,1247,7,10,5,0,2,3,1,...,0,0,0,1,0,0,1,0,0,3
6,1,4,0,0,1,1,0,1,3,0,...,0,0,0,0,0,0,0,1,0,4
7,1,4,0,0,1,1,0,1,5,1,...,0,0,0,1,0,1,0,0,0,1
8,2,3,2777,28,2,0,0,3,2,0,...,0,0,0,0,0,0,0,0,0,4
9,2,3,2777,28,2,0,0,3,3,0,...,0,0,0,1,0,0,0,0,0,4

### Classificador Perceptron multicamadas.

In [263]:
train, test = train_test_split(flags, test_size = 0.2)

In [264]:
# Separando a variável de saída ("religião") das variáveis de entrada
x_test = test.drop(["religion"], axis = 1)
y_test = test.filter(items = ["religion"])
x_train = train.drop(["religion"], axis = 1)
y_train = train.filter(items = ["religion"])

In [265]:
scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)

In [266]:
#Aprendendo o modelo com dados de treinamento
mlp = MLPClassifier(hidden_layer_sizes=(10, 5), activation = "logistic", learning_rate_init = 0.3, momentum = 0.2, max_iter = 500)
mlp.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='logistic', hidden_layer_sizes=(10, 5),
              learning_rate_init=0.3, max_iter=500, momentum=0.2)

In [267]:
# Escalonando as variáveis de entrada de teste
scaler.fit(x_test)
x_test = scaler.transform(x_test)

In [268]:
# Gerar previsões para dados de teste e treinamento
train_predictions = mlp.predict(x_train)
test_predictions = mlp.predict(x_test)

In [269]:
# Precisão para treinar e testar dados
accuracy_train = mlp.score(x_train, y_train)
accuracy_test = mlp.score(x_test, y_test)
print("training accuracy = ", accuracy_train)
print("test accuracy = ", accuracy_test)

training accuracy =  0.9225806451612903
test accuracy =  0.5128205128205128