In [67]:
import numpy as np 
import pandas as pd
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [68]:
names = ["name","landmass","zone","area","population","language","religion",
                         "bars","stripes","colours","red","green","blue","gold","white","black","orange",
                         "mainhue","circles","crosses","saltires","quarters","sunstars","crescent",
                        "triangle","icon","animate","text","topleft","botright"]

In [69]:
flags = pd.read_csv("../flag.data", names = names  , header=None) #header=None
flags['topleft'].unique()
flags = flags.drop(columns=["name", "topleft", "mainhue"])

In [70]:
c = flags["botright"].unique()

In [71]:
dicte = dict()
i=0
for classes in (c):
    dicte[classes] = i
    i = i + 1

dicte

{'green': 0,
 'red': 1,
 'white': 2,
 'black': 3,
 'blue': 4,
 'gold': 5,
 'orange': 6,
 'brown': 7}

In [72]:
flags["botright"] = flags["botright"].replace(dicte)

In [73]:
"""
valores_unicos = flags['topleft'].unique()
total_valores = len(valores_unicos)
mapeamento = dict(zip(valores_unicos, range(total_valores)))
flags['topleft'] = flags['topleft'].replace(mapeamento)
"""

"\nvalores_unicos = flags['topleft'].unique()\ntotal_valores = len(valores_unicos)\nmapeamento = dict(zip(valores_unicos, range(total_valores)))\nflags['topleft'] = flags['topleft'].replace(mapeamento)\n"

In [74]:
flags.dtypes

landmass      int64
zone          int64
area          int64
population    int64
language      int64
religion      int64
bars          int64
stripes       int64
colours       int64
red           int64
green         int64
blue          int64
gold          int64
white         int64
black         int64
orange        int64
circles       int64
crosses       int64
saltires      int64
quarters      int64
sunstars      int64
crescent      int64
triangle      int64
icon          int64
animate       int64
text          int64
botright      int64
dtype: object

In [75]:
flags.head(10)

,landmass,zone,area,population,language,religion,bars,stripes,colours,red,...,crosses,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,botright
0,5,1,648,16,10,2,0,3,5,1,...,0,0,0,1,0,0,1,0,0,0
1,3,1,29,3,6,6,0,0,3,1,...,0,0,0,1,0,0,0,1,0,1
2,4,1,2388,20,8,2,2,0,3,1,...,0,0,0,1,1,0,0,0,0,2
3,6,3,0,0,1,1,0,0,5,1,...,0,0,0,0,0,1,1,1,0,1
4,3,1,0,0,6,0,3,0,3,1,...,0,0,0,0,0,0,0,0,0,1
5,4,2,1247,7,10,5,0,2,3,1,...,0,0,0,1,0,0,1,0,0,3
6,1,4,0,0,1,1,0,1,3,0,...,0,0,0,0,0,0,0,1,0,4
7,1,4,0,0,1,1,0,1,5,1,...,0,0,0,1,0,1,0,0,0,1
8,2,3,2777,28,2,0,0,3,2,0,...,0,0,0,0,0,0,0,0,0,4
9,2,3,2777,28,2,0,0,3,3,0,...,0,0,0,1,0,0,0,0,0,4

### K-means

In [76]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

In [77]:
for column in flags.columns:
    if column != 'Sample code number':
        print("uniques({}):{}".format(column, flags[column].unique()))

uniques(landmass):[5 3 4 6 1 2]
uniques(zone):[1 3 2 4]
uniques(area):[  648    29  2388     0  1247  2777  7690    84    19     1   143    31
    23   113    47  1099   600  8512     6   111   274   678    28   474
  9976     4   623  1284   757  9561  1139     2   342    51   115     9
   128    43    22    49   284  1001    21  1222    12    18   337   547
    91   268    10   108   249   239   132  2176   109   246    36   215
   112    93   103  3268  1904  1648   435    70   301   323    11   372
    98   181   583   236    30  1760     3   587   118   333  1240  1031
  1973  1566   447   783   140    41  1267   925   121   195   324   212
   804    76   463   407  1285   300   313    92   237    26  2150   196
    72   637  1221    99   288   505    66  2506    63    17   450   185
   945   514    57     5   164   781   245   178  9363 22402    15   912
   256   905   753   391]
uniques(population):[  16    3   20    0    7   28   15    8   90   10    1    6  119    9
   35    4   24    2   11 1008    5   47   31   54   17   61   14  684
  157   39   57  118   13   77   12   56   18   84   48   36   22   29
   38   49   45  231  274   60]
uniques(language):[10  6  8  1  2  4  3  5  7  9]
uniques(religion):[2 6 1 0 5 3 4 7]
uniques(bars):[0 2 3 1 5]
uniques(stripes):[ 3  0  2  1  5  9 11 14  4  6 13  7]
uniques(colours):[5 3 2 8 6 4 7 1]
uniques(red):[1 0]
uniques(green):[1 0]
uniques(blue):[0 1]
uniques(gold):[1 0]
uniques(white):[1 0]
uniques(black):[1 0]
uniques(orange):[0 1]
uniques(circles):[0 1 4 2]
uniques(crosses):[0 1 2]
uniques(saltires):[0 1]
uniques(quarters):[0 1 4]
uniques(sunstars):[ 1  0  6 22 14  3  4  5 15 10  7  2  9 50]
uniques(crescent):[0 1]
uniques(triangle):[0 1]
uniques(icon):[1 0]
uniques(animate):[0 1]
uniques(text):[0 1]
uniques(botright):[0 1 2 3 4 5 6 7]

In [78]:
flags.shape

(194, 27)

In [79]:
#x = flags.drop(["religion"], axis = 1)
x = flags.drop('religion', axis=1)
y = flags['religion']

In [91]:
cluster_algo = KMeans(n_clusters=2)

In [92]:
y = cluster_algo.fit_predict(x)

In [93]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [94]:
x['clusters'] = y

In [95]:
x.to_excel('cluster.xlsx')

### Classificador Perceptron multicamadas.

In [263]:
train, test = train_test_split(flags, test_size = 0.2)

In [264]:
# Separando a variável de saída ("religião") das variáveis de entrada
x_test = test.drop(["religion"], axis = 1)
y_test = test.filter(items = ["religion"])
x_train = train.drop(["religion"], axis = 1)
y_train = train.filter(items = ["religion"])

In [265]:
scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)

In [266]:
#Aprendendo o modelo com dados de treinamento
mlp = MLPClassifier(hidden_layer_sizes=(10, 5), activation = "logistic", learning_rate_init = 0.3, momentum = 0.2, max_iter = 500)
mlp.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='logistic', hidden_layer_sizes=(10, 5),
              learning_rate_init=0.3, max_iter=500, momentum=0.2)

In [267]:
# Escalonando as variáveis de entrada de teste
scaler.fit(x_test)
x_test = scaler.transform(x_test)

In [268]:
# Gerar previsões para dados de teste e treinamento
train_predictions = mlp.predict(x_train)
test_predictions = mlp.predict(x_test)

In [269]:
# Precisão para treinar e testar dados
accuracy_train = mlp.score(x_train, y_train)
accuracy_test = mlp.score(x_test, y_test)
print("training accuracy = ", accuracy_train)
print("test accuracy = ", accuracy_test)

training accuracy =  0.9225806451612903
test accuracy =  0.5128205128205128